body {
   padding: 0;
   margin: 0;
}

header {
   display: flex;
   align-items: center;
   width: 100%;
   height: 4rem;
   background-color: black;
}

header img {
   user-select: none;
   padding-inline: 1.5rem;
   height: 75%;
}

header a {
   height: 100%;
   margin-block: 2rem;
   padding-inline: 4rem;
   font-size: 1.25rem;
   display: block;
   color: white;
   text-align: center;
   align-content: center;
   text-decoration: none;
   user-select: none;
}

header a:hover {
   background-color: #333;
}
